USE [master]
GO
/****** Object:  Database [BD_WS]    Script Date: 14/12/2017 14:50:43 ******/
CREATE DATABASE [BD_WS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_WS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BD_WS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_WS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BD_WS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_WS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_WS]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarDestino]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_BuscarDestino]
@P_vcCodFiltro	Varchar(200)
As
BEGIN
	Select	top 100 d.dist_ID As 'CodDistrito', p.prov_ID As 'CodProvincia', de.dep_ID As 'CodDepartamento',
			de.dep_Nombre + ' - ' + p.prov_Nombre + ' - ' + d.dist_Nombre As 'Nombre'
	From tbl_distrito d
	Inner Join tbl_provincia p ON d.dist_prov = p.prov_ID
	Inner Join tbl_departamento de ON p.prov_Dep = de.dep_ID
	Where (de.dep_Nombre Like '%' + @P_vcCodFiltro + '%' 
	OR p.prov_Nombre Like '%' + @P_vcCodFiltro + '%'
	OR d.dist_Nombre Like '%' + @P_vcCodFiltro + '%')
END


GO
/****** Object:  StoredProcedure [dbo].[sp_grabarReserva]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_grabarReserva] 
@reserva_ID int OUTPUT,
@cuarto_ID char(5),
@cliente_ID char(20),
@hotel_ID char(5),
@fecha_inicio datetime,
@fecha_fin datetime,
@reserva_estado char(1)
AS
--DECLARE @reserva_ID int
EXEC [dbo].[sp_obtenerCodigoNuevaReserva] @codigoObtenido = @reserva_ID OUTPUT
INSERT INTO tbl_reserva([reserva_ID], [cuarto_ID], [cliente_ID], [hotel_ID], [reserva_fecha_inicio], [reserva_fecha_fin], [reserva_estado])
VALUES(@reserva_ID, @cuarto_ID, @cliente_ID, @hotel_ID, @fecha_inicio, @fecha_fin, @reserva_estado)


GO
/****** Object:  StoredProcedure [dbo].[sp_listarCuartosDisponibles]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listarCuartosDisponibles] @cod_hotel char(5), @fecha_ini date, @fecha_fin date
as
SELECT a.cuarto_ID, a.cuarto_numero, a.cuarto_capacidad, a.cuarto_costo_noche, a.servicios_cuarto, b.tipo_cuarto_ID, b.tipo_cuarto_descripcion
FROM tbl_hotel_cuarto a
JOIN tbl_tipo_cuarto b ON a.tipo_cuarto_id = b.tipo_cuarto_ID
WHERE a.hotel_ID = @cod_hotel
AND NOT EXISTS 
(SELECT *FROM tbl_reserva b
WHERE b.hotel_ID = a.hotel_ID
AND b.cuarto_ID = a.cuarto_ID
AND (b.reserva_fecha_inicio between @fecha_ini and @fecha_fin or b.reserva_fecha_fin between @fecha_ini and @fecha_fin))
ORDER BY a.cuarto_ID, a.cuarto_numero, a.cuarto_capacidad, a.cuarto_costo_noche, a.servicios_cuarto, b.tipo_cuarto_ID, b.tipo_cuarto_descripcion


GO
/****** Object:  StoredProcedure [dbo].[sp_listarHotelesDisponibles]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listarHotelesDisponibles] @dept int, @prov int, @dist int, @fecha_ini date, @fecha_fin date
as
SELECT a.hotel_ID, a.hotel_Nombre, a.hotel_departamento, a.hotel_provincia, a.hotel_distrito, a.hotel_direccion, MIN(b.cuarto_costo_noche) AS cuarto_costo_noche
FROM tbl_hotel a
JOIN tbl_hotel_cuarto b ON a.hotel_ID = b.hotel_ID
JOIN tbl_tipo_cuarto c ON b.tipo_cuarto_ID = c.tipo_cuarto_ID
WHERE a.hotel_departamento = @dept
AND a.hotel_distrito = @dist
AND a.hotel_provincia = @prov
AND NOT EXISTS 
(SELECT *FROM tbl_reserva d 
WHERE d.hotel_ID = b.hotel_ID
AND d.cuarto_ID = b.cuarto_ID
AND (d.reserva_fecha_inicio between @fecha_ini and @fecha_fin or d.reserva_fecha_fin between @fecha_ini and @fecha_fin))
GROUP BY a.hotel_ID, a.hotel_Nombre, a.hotel_departamento, a.hotel_provincia, a.hotel_distrito, a.hotel_direccion
ORDER BY cuarto_costo_noche, a.hotel_ID, a.hotel_Nombre

GO
/****** Object:  StoredProcedure [dbo].[sp_listarTodosHoteles]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_listarTodosHoteles]
AS
SELECT a.hotel_ID, a.hotel_Nombre, a.hotel_telefono, a.hotel_direccion, a.hotel_provincia, a.hotel_distrito, a.hotel_departamento
FROM tbl_hotel a



GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerCodigoNuevaReserva]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_obtenerCodigoNuevaReserva]
@codigoObtenido int output
AS
begin
	set @codigoObtenido = (SELECT ISNULL((SELECT TOP(1) a.reserva_ID + 1 FROM tbl_reserva a ORDER BY 1 DESC),1))
end



GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerReserva]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_obtenerReserva]
@reserva_ID int
AS
	SELECT a.reserva_ID, a.cuarto_ID, a.cliente_ID, a.hotel_ID,a.reserva_fecha_inicio, a.reserva_fecha_fin, a.reserva_estado FROM tbl_reserva a
	WHERE a.reserva_ID = @reserva_ID

GO
/****** Object:  Table [dbo].[tbl_cliente]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_cliente](
	[cliente_ID] [varchar](20) NOT NULL,
	[cliente_nombre] [char](50) NULL,
	[cliente_apellido_paterno] [varchar](20) NULL,
	[cliente_apellido_materno] [varchar](20) NULL,
	[cliente_email] [char](100) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[cliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_departamento]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_departamento](
	[dep_ID] [int] NOT NULL,
	[dep_Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[dep_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_distrito]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_distrito](
	[dist_ID] [int] NOT NULL,
	[dist_Nombre] [varchar](50) NULL,
	[dist_prov] [int] NULL,
 CONSTRAINT [PK_distrito] PRIMARY KEY CLUSTERED 
(
	[dist_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_hotel]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_hotel](
	[hotel_ID] [char](5) NOT NULL,
	[hotel_Nombre] [varchar](120) NULL,
	[hotel_telefono] [varchar](120) NULL,
	[hotel_direccion] [varchar](300) NULL,
	[hotel_provincia] [int] NULL,
	[hotel_distrito] [int] NULL,
	[hotel_departamento] [int] NULL,
 CONSTRAINT [PK_provincia] PRIMARY KEY CLUSTERED 
(
	[hotel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_hotel_cuarto]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_hotel_cuarto](
	[cuarto_ID] [char](5) NOT NULL,
	[hotel_ID] [char](5) NULL,
	[cuarto_numero] [int] NULL,
	[cuarto_capacidad] [int] NULL,
	[cuarto_costo_noche] [decimal](18, 2) NULL,
	[tipo_cuarto_id] [char](5) NULL,
	[servicios_cuarto] [varchar](200) NULL,
 CONSTRAINT [PK_hotel_cuarto] PRIMARY KEY CLUSTERED 
(
	[cuarto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_provincia]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_provincia](
	[prov_ID] [int] NOT NULL,
	[prov_Nombre] [varchar](50) NULL,
	[prov_Dep] [int] NULL,
 CONSTRAINT [PK_tbl_provincia] PRIMARY KEY CLUSTERED 
(
	[prov_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_reserva]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_reserva](
	[reserva_ID] [int] NOT NULL,
	[cuarto_ID] [char](5) NOT NULL,
	[cliente_ID] [varchar](20) NOT NULL,
	[hotel_ID] [char](5) NOT NULL,
	[reserva_fecha_inicio] [date] NOT NULL,
	[reserva_fecha_fin] [date] NOT NULL,
	[reserva_estado] [char](1) NOT NULL,
 CONSTRAINT [PK_reserva] PRIMARY KEY CLUSTERED 
(
	[reserva_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_tipo_cuarto]    Script Date: 14/12/2017 14:50:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_tipo_cuarto](
	[tipo_cuarto_ID] [char](5) NOT NULL,
	[tipo_cuarto_descripcion] [char](50) NULL,
 CONSTRAINT [PK_tipo_cuarto] PRIMARY KEY CLUSTERED 
(
	[tipo_cuarto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_cliente] ([cliente_ID], [cliente_nombre], [cliente_apellido_paterno], [cliente_apellido_materno], [cliente_email]) VALUES (N'u201010398', N'Diego                                             ', N'Natividad', N'Lecca', N'dnatividadlecca@gmail.com                                                                           ')
INSERT [dbo].[tbl_departamento] ([dep_ID], [dep_Nombre]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[tbl_departamento] ([dep_ID], [dep_Nombre]) VALUES (2, N'ANCASH')
INSERT [dbo].[tbl_departamento] ([dep_ID], [dep_Nombre]) VALUES (3, N'APURIMAC')
INSERT [dbo].[tbl_distrito] ([dist_ID], [dist_Nombre], [dist_prov]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[tbl_distrito] ([dist_ID], [dist_Nombre], [dist_prov]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[tbl_distrito] ([dist_ID], [dist_Nombre], [dist_prov]) VALUES (3, N'BALSAS', 1)
GO
INSERT [dbo].[tbl_hotel] ([hotel_ID], [hotel_Nombre], [hotel_telefono], [hotel_direccion], [hotel_provincia], [hotel_distrito], [hotel_departamento]) VALUES (N'00001', N'Hotel Marriot', N'1234567', N'Av Prueba 124', 1, 23, 2)
INSERT [dbo].[tbl_hotel] ([hotel_ID], [hotel_Nombre], [hotel_telefono], [hotel_direccion], [hotel_provincia], [hotel_distrito], [hotel_departamento]) VALUES (N'00002', N'Hotel Sheraton', N'2345678', N'Av Test 1829', 3, 1, 2)
INSERT [dbo].[tbl_hotel] ([hotel_ID], [hotel_Nombre], [hotel_telefono], [hotel_direccion], [hotel_provincia], [hotel_distrito], [hotel_departamento]) VALUES (N'00003', N'Hotel Bolivar', N'2365489', N'Av Nueva Imaginación 253', 2, 1, 2)
INSERT [dbo].[tbl_hotel_cuarto] ([cuarto_ID], [hotel_ID], [cuarto_numero], [cuarto_capacidad], [cuarto_costo_noche], [tipo_cuarto_id], [servicios_cuarto]) VALUES (N'00001', N'00001', 201, 2, CAST(200.00 AS Decimal(18, 2)), N'00001', N'Wi-Fi')
INSERT [dbo].[tbl_hotel_cuarto] ([cuarto_ID], [hotel_ID], [cuarto_numero], [cuarto_capacidad], [cuarto_costo_noche], [tipo_cuarto_id], [servicios_cuarto]) VALUES (N'00002', N'00001', 202, 2, CAST(200.00 AS Decimal(18, 2)), N'00001', N'Wi-Fi')
INSERT [dbo].[tbl_hotel_cuarto] ([cuarto_ID], [hotel_ID], [cuarto_numero], [cuarto_capacidad], [cuarto_costo_noche], [tipo_cuarto_id], [servicios_cuarto]) VALUES (N'00003', N'00001', 203, 2, CAST(200.00 AS Decimal(18, 2)), N'00001', N'Wi-Fi')
INSERT [dbo].[tbl_provincia] ([prov_ID], [prov_Nombre], [prov_Dep]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[tbl_provincia] ([prov_ID], [prov_Nombre], [prov_Dep]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[tbl_provincia] ([prov_ID], [prov_Nombre], [prov_Dep]) VALUES (3, N'BONGARA', 1)
GO
INSERT [dbo].[tbl_reserva] ([reserva_ID], [cuarto_ID], [cliente_ID], [hotel_ID], [reserva_fecha_inicio], [reserva_fecha_fin], [reserva_estado]) VALUES (1, N'00001', N'u201010398          ', N'00001', CAST(0xA33D0B00 AS Date), CAST(0xA33D0B00 AS Date), N'A')
INSERT [dbo].[tbl_reserva] ([reserva_ID], [cuarto_ID], [cliente_ID], [hotel_ID], [reserva_fecha_inicio], [reserva_fecha_fin], [reserva_estado]) VALUES (2, N'00001', N'U201010398          ', N'00001', CAST(0xA43D0B00 AS Date), CAST(0xA43D0B00 AS Date), N'S')
INSERT [dbo].[tbl_reserva] ([reserva_ID], [cuarto_ID], [cliente_ID], [hotel_ID], [reserva_fecha_inicio], [reserva_fecha_fin], [reserva_estado]) VALUES (3, N'00001', N'U201010398          ', N'00001', CAST(0xA43D0B00 AS Date), CAST(0xA43D0B00 AS Date), N'A')
INSERT [dbo].[tbl_tipo_cuarto] ([tipo_cuarto_ID], [tipo_cuarto_descripcion]) VALUES (N'00001', N'ESTANDAR                                          ')
INSERT [dbo].[tbl_tipo_cuarto] ([tipo_cuarto_ID], [tipo_cuarto_descripcion]) VALUES (N'00002', N'MATRIMONIAL                                       ')
INSERT [dbo].[tbl_tipo_cuarto] ([tipo_cuarto_ID], [tipo_cuarto_descripcion]) VALUES (N'00003', N'VIP                                               ')
ALTER TABLE [dbo].[tbl_provincia] ADD  DEFAULT (NULL) FOR [prov_Nombre]
GO
ALTER TABLE [dbo].[tbl_hotel]  WITH CHECK ADD  CONSTRAINT [FK_departamento] FOREIGN KEY([hotel_departamento])
REFERENCES [dbo].[tbl_departamento] ([dep_ID])
GO
ALTER TABLE [dbo].[tbl_hotel] CHECK CONSTRAINT [FK_departamento]
GO
ALTER TABLE [dbo].[tbl_hotel]  WITH CHECK ADD  CONSTRAINT [FK_distrito] FOREIGN KEY([hotel_distrito])
REFERENCES [dbo].[tbl_distrito] ([dist_ID])
GO
ALTER TABLE [dbo].[tbl_hotel] CHECK CONSTRAINT [FK_distrito]
GO
ALTER TABLE [dbo].[tbl_hotel]  WITH CHECK ADD  CONSTRAINT [FK_provincia] FOREIGN KEY([hotel_provincia])
REFERENCES [dbo].[tbl_provincia] ([prov_ID])
GO
ALTER TABLE [dbo].[tbl_hotel] CHECK CONSTRAINT [FK_provincia]
GO
ALTER TABLE [dbo].[tbl_hotel_cuarto]  WITH CHECK ADD  CONSTRAINT [FK_hotel] FOREIGN KEY([hotel_ID])
REFERENCES [dbo].[tbl_hotel] ([hotel_ID])
GO
ALTER TABLE [dbo].[tbl_hotel_cuarto] CHECK CONSTRAINT [FK_hotel]
GO
ALTER TABLE [dbo].[tbl_hotel_cuarto]  WITH CHECK ADD  CONSTRAINT [FK_tipo_cuarto] FOREIGN KEY([tipo_cuarto_id])
REFERENCES [dbo].[tbl_tipo_cuarto] ([tipo_cuarto_ID])
GO
ALTER TABLE [dbo].[tbl_hotel_cuarto] CHECK CONSTRAINT [FK_tipo_cuarto]
GO
ALTER TABLE [dbo].[tbl_reserva]  WITH CHECK ADD  CONSTRAINT [FK_cliente] FOREIGN KEY([cliente_ID])
REFERENCES [dbo].[tbl_cliente] ([cliente_ID])
GO
ALTER TABLE [dbo].[tbl_reserva] CHECK CONSTRAINT [FK_cliente]
GO
ALTER TABLE [dbo].[tbl_reserva]  WITH CHECK ADD  CONSTRAINT [FK_cuarto] FOREIGN KEY([cuarto_ID])
REFERENCES [dbo].[tbl_hotel_cuarto] ([cuarto_ID])
GO
ALTER TABLE [dbo].[tbl_reserva] CHECK CONSTRAINT [FK_cuarto]
GO
ALTER TABLE [dbo].[tbl_reserva]  WITH CHECK ADD  CONSTRAINT [FK_hotel_reserva] FOREIGN KEY([hotel_ID])
REFERENCES [dbo].[tbl_hotel] ([hotel_ID])
GO
ALTER TABLE [dbo].[tbl_reserva] CHECK CONSTRAINT [FK_hotel_reserva]
GO
USE [master]
GO
